/* cummon-css */

.content {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .content {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .content {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .content {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .content {
        max-width: 1140px;
    }
}

*,
::after,
::before {
    box-sizing: border-box
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: 16px;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    font-display: swap;
    overflow-x: hidden;
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0!important
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

abbr[data-original-title],
abbr[title] {
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    cursor: help;
    border-bottom: 0;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 1rem
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin-bottom: 0
}

dt {
    font-weight: 700
}

dd {
    margin-bottom: .5rem;
    margin-left: 0
}

blockquote {
    margin: 0 0 1rem
}

b,
strong {
    font-weight: bolder
}

small {
    font-size: 80%
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent
}

a:hover {
    color: #0056b3;
    text-decoration: none
}

a:not([href]):not([class]) {
    color: inherit;
    text-decoration: none
}

a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none
}

code,
kbd,
pre,
samp {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 1em
}

pre {
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
    -ms-overflow-style: scrollbar
}

figure {
    margin: 0 0 1rem
}

img {
    vertical-align: middle;
    border-style: none
}

svg {
    overflow: hidden;
    vertical-align: middle
}

table {
    border-collapse: collapse
}

caption {
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #6c757d;
    text-align: left;
    caption-side: bottom
}

th {
    text-align: inherit
}

label {
    display: inline-block;
    margin-bottom: .5rem
}

button {
    border-radius: 0
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

[role=button] {
    cursor: pointer
}

select {
    word-wrap: normal
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    padding: 0;
    border-style: none
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

textarea {
    overflow: auto;
    resize: vertical
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0
}

legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal
}

progress {
    vertical-align: baseline
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    outline-offset: -2px;
    -webkit-appearance: none
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button
}

output {
    display: inline-block
}

summary {
    display: list-item;
    cursor: pointer
}

template {
    display: none
}

[hidden] {
    display: none!important
}

html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container-full>.row {
    margin-right: 0px;
    margin-left: 0px;
}

.c-c {
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-s {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.c-e {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.c-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider-init {
    display: none;
}


/* typography */

main {
    max-width: 1920px;
    margin: 0 auto;
}

html.wf-active {
    font-family: 'inter';
}

.h1,
.h2,
.h3,
.h4 {
    font-style: normal;
    line-height: 1;
    font-weight: 800;
    color: #111111;
    font-family: inherit;
}

.h1 {
    font-size: 3rem;
}

.h2 {
    font-size: 2.625rem;
}

.h3 {
    font-size: 1.5rem;
}

.descr {
    font-style: normal;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    color: #555555;
    font-family: inherit;
}

.descr.descr-s {
    font-size: 0.9rem;
}

.subtitle {
    font-size: 0.9rem;
    font-weight: 600;
    font-family: inherit;
    line-height: 1;
}


/* header */

.phone {
    font-weight: 700;
    font-size: 1.25rem;
    color: #212529;
    vertical-align: middle;
}

.phone svg {
    margin-right: 0.5rem;
}


/* hero */

.hero .descr {
    margin-top: 1.5rem;
    max-width: 445px;
}

.hero-content {
    padding-right: 5%;
}

.hero .h1 {
    max-width: 562px;
}

.btn {
    padding: 1rem 2rem;
    font-weight: 600;
    color: #fff;
    background: #141414;
    border: none;
    outline: none;
    border-radius: 4rem;
    transition: .2s cubic-bezier(.4, 0, .2, 1);
    transition-property: box-shadow, transform;
    cursor: pointer;
    transform: translate(0, 0px);
    user-select: none;
}

.btn:hover {
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    color: #ffffff;
    transform: translate(0, -3px);
}

.btn-secondary {
    padding: 0.5rem 1rem;
    font-weight: 600;
    color: #141414;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 4rem;
}

.btn-secondary span {
    display: block;
    transition: .2s cubic-bezier(.4, 0, .2, 1);
    transition-property: transform;
}

.btn-secondary span svg {
    width: 1.125rem;
    margin-left: 0.25rem;
}

.btn-secondary:hover span {
    transform: translate(0.25rem, 0rem);
}

.btn-secondary:hover {
    color: #141414;
}

.hero .btn-line {
    margin-top: 2.25rem;
}

.hero .row {
    align-items: center;
}

@media(max-width: 900px) {
    .hero img {
        width: 100%;
    }
}

@media(max-width: 1026px) {
    .hero .h1 {
        font-size: 2.5rem;
        text-align: center;
    }
    .h2 {
        font-size: 2rem;
    }
    .feature-card {
        max-width: 100%;
    }
    .h4 {
        font-size: 1.2rem;
    }
    .hero .descr {
        text-align: center;
    }
    .hero {
        padding-top: 6rem;
    }
    .hero-content {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .hero .btn-line {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    .hero-img-inner img {
        width: 100%;
        position: relative;
    }
    .hero-img-inner {
        margin-left: -16px;
        margin-right: -16px;
    }
}


/* header */

.header {
    position: fixed;
    width: 100%;
    z-index: 300;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.7);
}

.site-logo img {
    width: 100%;
    max-width: 152px;
}

.header-container {
    position: relative;
}

.blur,
.mob-blur {
    border: 1px #000;
    opacity: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 200ms ease-in;
    transition-property: opacity;
}

.mob-blur {
    z-index: -1;
}

.blur.blur-active {
    opacity: 1;
}

.mob-blur.blur-active {
    opacity: 1;
}

.blur.menu-open {
    opacity: 1;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0rem;
    z-index: 100;
    position: relative;
}

.navigation ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding: 0.5rem 0;
    margin: 0;
}

.navigation ul li {
    margin: 0 0.5rem;
}

.navigation ul li a {
    font-size: 1rem;
    color: #222222;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: 200ms ease-in;
    transition-property: background;
}

.navigation ul li a:hover {
    background: #F3EDE9;
}

.navigation ul li.phone a {
    font-size: 1.25rem;
}


/* menu-icon */

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #111111;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.ham1 .top {
    stroke-dasharray: 40 139;
}

.ham1 .bottom {
    stroke-dasharray: 40 180;
}

.ham1.active .top {
    stroke-dashoffset: -98px;
}

.ham1.active .bottom {
    stroke-dashoffset: -138px;
}

.mobile-icon {
    width: 3rem;
    flex: 0 0 3rem;
    height: 3rem;
    display: none;
    outline: none;
    border: none;
    padding: 0;
    background: transparent;
    transition: 200ms ease-in;
    transition-property: background;
}

.mobile-icon:focus {
    outline: none;
}

.noscroll {
    overflow: hidden;
}

.header-overlay {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 200;
    transition: 200ms ease-in;
    transition-property: opacity, visibility;
}

.overlay-active {
    visibility: visible;
    opacity: 1;
}

@media(max-width:993px) {
    .header-container.container {
        padding: 0;
    }
    .navigation {
        padding: 0.4rem 16px;
    }
    .mobile-icon {
        display: block;
    }
    .nav-outer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        transform: translate(0, 95%);
        opacity: 0;
        visibility: hidden;
        transition: 200ms ease-in;
        transition-property: transform, opacity, visibility;
        background-color: rgba(255, 255, 255, 0.7);
    }
    .nav-outer.menu-show {
        transform: translate(0, 100%);
        opacity: 1;
        visibility: visible;
    }
    .nav-inner {
        padding: 0.5rem 0.75rem;
    }
    .nav-outer ul {
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        z-index: 100;
        padding-left: 16px;
        padding-right: 16px;
    }
    .nav-inner {
        padding-left: 0;
        padding-right: 0;
    }
    .nav-outer ul li a {
        font-family: inherit;
        font-size: 1.25rem;
        padding-left: 0;
    }
    .nav-outer ul li {
        margin: 0.5rem 0rem;
    }
    .navigation ul li.phone a {
        font-size: 1.25rem;
    }
}

.animate {
    visibility: hidden;
}

.fade-left.active {
    visibility: visible;
    animation-name: fadeLeft;
    animation-timing-function: ease-out;
    animation-duration: 400ms;
}

.fade-left.active.delay-1 {
    animation-duration: 600ms;
}

.fade-left.active.delay-2 {
    animation-duration: 800ms;
}

@keyframes fadeLeft {
    0% {
        visibility: hidden;
        opacity: 0;
        transform: translate(20%, 0);
    }
    100% {
        visibility: visible;
        opacity: 1;
        transform: translate(0%, 0);
    }
}

.fade-up.active {
    visibility: visible;
    animation-name: fadeUp;
    animation-timing-function: ease-out;
    animation-duration: 400ms;
}

@keyframes fadeUp {
    0% {
        visibility: hidden;
        opacity: 0;
        transform: translate(0, 100px);
    }
    100% {
        visibility: visible;
        opacity: 1;
        transform: translate(0, 0px);
    }
}


/* feature */

.feature {
    margin-top: 6.25rem;
    overflow: hidden;
}

.big-number {
    font-size: 7.35rem;
    color: #F3EDE9;
    font-weight: 800;
    line-height: 1;
    letter-spacing: -5px;
    font-family: inherit;
}

.feature .h2 {
    max-width: 646px;
    margin-bottom: 2.5rem;
}

.feature-card {
    max-width: 320px;
}

.feature {
    margin-bottom: 5rem;
}

@media(max-width: 1026px) {
    .feature-card {
        max-width: 100%;
    }
}

.lazy {
    filter: blur(5px);
    overflow: hidden;
}

@keyframes lazyFade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.anim-fade {
    animation: lazyFade 200ms ease-in;
}

.lazy {
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolder;
    animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.2) 8%, rgba(255, 255, 255, 0.6) 18%, rgba(255, 255, 255, 0.2) 33%);
    background-size: 800px 104px;
    position: relative;
}

@media (max-width: 479px) {
    .hero .h1 {
        font-size: 2rem;
    }
    .h2 {
        font-size: 1.55rem;
    }
    .btn-secondary div {
        display: none;
    }
    .btn-secondary {
        padding: 1rem;
        background: #F3EDE9;
        margin-left: 1rem;
    }
    .btn-secondary span svg {
        margin-left: 0;
        width: 1.5rem;
        height: 1.5rem;
    }
    .btn {
        font-size: 0.9rem;
    }
    .feature {
        margin-top: 3rem;
        margin-bottom: 2.25rem;
    }
}